apiVersion: v2
name: clearml
description: MLOps platform
type: application
version: "6.0.0"
appVersion: "1.9.2"
kubeVersion: ">= 1.21.0-0 < 1.27.0-0"
home: https://clear.ml
icon: https://raw.githubusercontent.com/allegroai/clearml/master/docs/clearml-logo.svg
sources:
  - https://github.com/allegroai/clearml-helm-charts
  - https://github.com/allegroai/clearml
maintainers:
  - name: valeriano-manassero
    url: https://github.com/valeriano-manassero
keywords:
  - clearml
  - "machine learning"
  - mlops
dependencies:
  - name: redis
    version: "17.8.3"
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: mongodb
    version: "12.1.31"
    repository: "https://charts.bitnami.com/bitnami"
    condition: mongodb.enabled
  - name: elasticsearch
    version: "7.17.3"
    repository: "https://helm.elastic.co"
    condition: elasticsearch.enabled
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: dependency chart updates
    - kind: changed
      description: improved securityContexts
    - kind: added
      description: images version update
    - kind: added
      description: non-root non-privileged mode
    - kind: added
      description: global registry parameter
