apiVersion: v2
name: clearml-serving
description: ClearML Serving Helm Chart
type: application
version: 0.3.0
appVersion: "0.9.0"
maintainers:
  - name: valeriano-manassero
    url: https://github.com/valeriano-manassero
  - name: stefano-cherchi
    url: https://github.com/stefano-cherchi
keywords:
  - clearml
  - "machine learning"
  - mlops
  - "model serving"
