apiVersion: v2
name: clearml-serving
description: ClearML Serving Helm Chart
type: application
version: "1.4.0"
appVersion: "1.3.0"
kubeVersion: ">= 1.21.0-0 < 1.28.0-0"
home: https://clear.ml
icon: https://raw.githubusercontent.com/allegroai/clearml/master/docs/clearml-logo.svg
sources:
  - https://github.com/allegroai/clearml-helm-charts
  - https://github.com/allegroai/clearml
maintainers:
  - name: valeriano-manassero
    url: https://github.com/valeriano-manassero
keywords:
  - clearml
  - "machine learning"
  - mlops
  - "model serving"
dependencies:
  - name: kafka
    version: "21.4.0"
    repository: "https://charts.bitnami.com/bitnami"
    condition: kafka.enabled
  - name: prometheus
    version: "19.7.2"
    repository: "https://prometheus-community.github.io/helm-charts"
    condition: prometheus.enabled
  - name: grafana
    version: "6.52.3"
    repository: "https://grafana.github.io/helm-charts"
    condition: grafana.enabled
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: removed deprecated networkPolicy
    - kind: fixed
      description: missng ingresses className
    - kind: added
      description: add support for imageCredentials
