# ClearML Kubernetes Agent
{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

## Introduction

The **clearml-agent** is the Kubernetes agent for for [ClearML](https://github.com/allegroai/clearml).
It allows you to schedule distributed experiments on a Kubernetes cluster.

# Upgrading Chart

## Upgrades/ Values upgrades

Updating to latest version of this chart can be done in two steps:

```
helm repo update
helm upgrade clearml-agent allegroai/clearml-agent
```

Changing values on existing installation can be done with:

```
helm upgrade clearml-agent allegroai/clearml-agent --version <CURRENT CHART VERSION> -f custom_values.yaml
```

### Major upgrade from 3.* to 4.*

Before issuing helm upgrade:

* if using securityContexts check for new value form in values.yaml (podSecurityContext and containerSecurityContext)

## ENTERPRISE Version

There are some specific Enterprise version features that can be enabled only with specific Enterprise licensed images. 
Enabling this features on OSS version can cause the entire installation to break.

### Non root/privileged environments

*This feature is available for Enterprise version only*

In environments like Openshift or Tanzu it can be required to run non-root/non-privileged pods/containers.
In this case it's recommended to use `values-enterprise-non-root-privileged.yaml` as base for override file.

Keep in mind it's not possible to install packages on non-root containers so images used for Tasks must already have python, pip and git installed.

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
