apiVersion: v1
kind: Service
metadata:
  annotations: {}
  labels:
    clearml.serving.service: alertmanager
  name: clearml-serving-alertmanager
spec:
  ports:
    - name: "9093"
      port: 9093
      targetPort: 9093
  selector:
    clearml.serving.service: alertmanager
