apiVersion: v1
kind: Service
metadata:
  annotations: {}
  namespace: {{ .Values.namespace }}
  labels:
    clearml.serving.service: clearml-serving-inference
  name: clearml-serving-inference
spec:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  selector:
    clearml.serving.service: clearml-serving-inference
status:
  loadBalancer: {}
