apiVersion: v1
kind: Secret
metadata:
  name: grafana-config
  namespace: {{ .Values.namespace }}
stringData:
  datasource.yaml: |-
    apiVersion: 1

    datasources:
      - name: Prometheus
        type: prometheus
        # Access mode - proxy (server in the UI) or direct (browser in the UI).
        access: proxy
        url: http://clearml-serving-prometheus:9090
