{{- if or (not .Values.clearml.existingAgentk8sglueSecret) (not .Values.clearml.existingClearmlConfigSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "clearmlAgent.fullname" . }}-ac
data:
  agentk8sglue_key: {{ .Values.clearml.agentk8sglueKey | b64enc }}
  agentk8sglue_secret: {{ .Values.clearml.agentk8sglueSecret | b64enc }}
  clearml.conf: {{ .Values.clearml.clearmlConfig | b64enc }}
{{- end }}
---
{{- if .Values.imageCredentials.enabled }}
{{- if not .Values.imageCredentials.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "clearmlAgent.fullname" . }}-ark
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecret" . }}
{{- end }}
{{- end }}
